{% extends 'base.html' %}

{% block title %}结算页面{% endblock %}

{% block headerjs %}
    <link rel="stylesheet" type="text/css" href="/static/public.css">
    <link rel="stylesheet" type="text/css" href="/static/proList.css">
{% endblock %}


{% block main %}

    <div class="order cart mt">
			<!-----------------site------------------->
			<div class="site">
				<p class="wrapper clearfix">
					<span class="fl">订单确认</span>
				</p>
			</div>
			<!-----------------orderCon------------------->

				<div class="orderR fr">
					<div class="msg">
						<h3>订单内容</h3>
						<!--------ul---------------->
            {% for t in goods %}
                {{ t.price }}---{{  t.s_price}}-----{{ t.num }}
            {% endfor %}
                    {{ sum }}
            {% for cartitem in cartitemList %}


                <ul class="clearfix" goodsid="{{ cartitem.goodsid }}" sizeid="{{ cartitem.sizeid }}" colorid="{{ cartitem.colorid }}" count="{{ cartitem.count }}">
							<li class="fl">
								<img src="{{ cartitem.getColor.colorurl }}" width="87px" height="87px">
							</li>
							<li class="fl">
								<p>{{ cartitem.getGoods.gname }}</p>
								<p>颜色分类：{{ cartitem.getColor.colorname }}</p>
								<p>数量：{{ cartitem.count }}</p>
							</li>
							<li class="fr">￥{{ cartitem.getTotalPrice }}</li>
						</ul>

            {% endfor %}









					</div>
					<!--------tips---------------->
					<div class="tips">
						<p><span class="fl">商品金额：</span><span class="fr">￥{{ totalPrice }}</span></p>
						<p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
						<p><span class="fl">运费：</span><span class="fr">免运费</span></p>
					</div>
					<!--------tips count---------------->
					<div class="count tips">
						<p><span class="fl">合计：</span><span class="fr">￥{{ totalPrice }}</span></p>
					</div>
					<!--<input type="button" name="" value="去支付"> -->
					<a    onclick="javascript:window.location.href='{% url 'inorder' %}'">去支付</a>
				</div>
			</div>
		</div>


{% endblock %}


{% block footerjs %}

    
    
    <script src="/static/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/pro.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/user.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $("#pay").click(function(){
            var cartitems = [];

            $.each($('.msg ul'),function(index,item){
                cartitems.push({"goodsid":$(item).attr('goodsid'),
                                "sizeid":$(item).attr('sizeid'),
                                "colorid":$(item).attr('colorid'),
                                "count":$(item).attr('count')
                                })

            })



            var params = 'address={{ addr.id }}&payway='+$('.way .on').attr('name')+'&cartitems='+JSON.stringify(cartitems)+'&totalPrice={{ totalPrice }}'


            var url = '/order/toPay/?'+params

            $(this).attr('href',url)

        })

    </script>



{% endblock %}