.shopping{
        width: 180px;
        height: 40px;
        border: 1px solid #e0e0e0;
    }
    .shopping:hover{
        width: 180px;
        height: 40px;
        background-color: orangered;
    }
    .shopping:hover.shopping button{
        color: whitesmoke;
    }
    .shopping button{
    margin-right: 0;
    float: right;
    overflow: hidden;
    position: relative;
    color: #757575;
    width: 178px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    text-decoration:none;
    }
